@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/Inter-VariableFont_opsz\,wght.ttf")
      format("ttf-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
  
    font-style: normal;
  }

@font-face {
    font-family: "Reddit Mono";
    src: url("/fonts/reddit_mono/RedditMono-VariableFont_wght.ttf")
      format("ttf-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
  
    font-style: normal;
  }

html {
    font-style: normal;
    font-size: 14px;
    font-family: 'Reddit Mono', 'Inter', sans-serif;
}

nav {
    background-color: #89D2FF;
    color: #454545;
    width: 100%;
    
    display: inline-block;
}

.socials {
    display: inline-flex;
}

.socials a {
    padding-inline: 1em;
}